:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.overlay-button {
    position: absolute;
    opacity: 0.8;
    outline: none;
    transition: opacity 0.2s;
    color: #000;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
        opacity: 1.0;
    }
}

.phase-controls {
    bottom: 8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: fit-content;
    margin-inline: auto;
    pointer-events: auto;
    gap: 8px;

    .phase-button {
        cursor: pointer;
        opacity: 1.0;
        margin-inline: auto;
        width: fit-content;
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
        font-weight: bold;
        transition: filter 0.2s;
        font-size: 0.9em;

        &.end-phase-button {
            background-color: #f00;
            color: white;
        }

        &:hover {
            filter: brightness(1.2);
        }
    }
}

.turn-tracker-button {
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;

        .octagon {
            stroke: white;
            stroke-width: 1;
        }

        text {
            pointer-events: none;
            font-weight: bold;
            fill: #fff;
        }

        &.move .octagon {
            fill: var(--phase-move);
        }

        &.ranged .octagon {
            fill: var(--phase-ranged);
        }

        &.physical .octagon {
            fill: var(--phase-physical);
        }

        &.heat .octagon {
            fill: var(--phase-heat);
        }

        &.warning {
            color: var(--damage-color);

            text {
                fill: #000;
            }
        }
    }

    :host-context(.night-mode) & {
        color: #fff;

        svg text {
            fill: #000;
        }

        svg .octagon {
            stroke-width: 0;
        }
    }
}

@media print {
    :host {
        display: none !important;
    }
}