.slider-container {
    position: relative;
    width: calc(100% - 38px);
    height: 18px;
    margin: 8px;
    margin-left: 18px;
    user-select: none;
    touch-action: none;
}

.slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    margin-left: -11px;
    width: calc(100% + 22px);
    background-color: #666;
    transform: translateY(-50%);
    z-index: 1;
}



.slider-track.active {
    background-color: var(--bt-yellow-background-bright);
}

.thumb {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    cursor: grab;
    border-radius: 2px;
    z-index: 3;
    transition: background 0.2s;
    border: 1px transparent;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-image:
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary)),
        linear-gradient(var(--text-color-secondary), var(--text-color-secondary));
    background-size: 6px 2px, 2px 6px, 6px 2px, 2px 6px, 6px 2px, 2px 6px, 6px 2px, 2px 6px;
    background-position: top left, top left, top right, top right, bottom left, bottom left, bottom right, bottom right;
    outline: none;
}

.thumb-left {
    transform: translate(-100%, -50%);
}

.thumb-right {
    transform: translateY(-50%);
}

.slider-container.dragging,
.slider-container.dragging .thumb,
.slider-container.dragging .thumb.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.thumb.active {
    background-repeat: no-repeat;
    background-origin: border-box;
    background-image:
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow)),
        linear-gradient(var(--bt-yellow), var(--bt-yellow));
    background-size: 6px 2px, 2px 6px, 6px 2px, 2px 6px, 6px 2px, 2px 6px, 6px 2px, 2px 6px, 4px 4px;
    background-position: top left, top left, top right, top right, bottom left, bottom left, bottom right, bottom right, center center;
}

.thumb-label {
    position: absolute;
    top: -28px;
    transform: translateX(-50%);
    background-color: var(--bt-yellow);
    color: #000;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1002;
}

