<div #container class="svg-viewer-container" style="position:relative;">
    <div #slides class="slides"></div>
    @if (currentSvg() && !readOnly()) {
        <svg-canvas-overlay
            #canvasOverlay
            [unit]="unit()"
            [width]="this.svgWidth"
            [height]="this.svgHeight"
        ></svg-canvas-overlay>
        @if (useAutomations()) {
            <svg-interaction-overlay
                #interactionOverlay
                [unit]="unit()"
                [force]="force()"
                [width]="this.svgWidth"
                [height]="this.svgHeight"
            ></svg-interaction-overlay>
        }
    }
</div>
@if (!readOnly()) {
    <heat-diff-marker 
        [data]="heatDiffMarkerData()"
        [visible]="heatDiffMarkerVisible()">
    </heat-diff-marker>
}

@if (loadError()) {
    <div class="error-container">
        <div class="error-message">{{ loadError() }}</div>
        <button (click)="retryLoad()" class="bt-button reload-button">
            <span class="icon">&#x21bb;</span>
            <span>Reload</span>
        </button>
    </div>
}