.alpha-strike-viewer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: var(--background-color);
    box-sizing: border-box;
    padding-bottom: 48px;
}

.groups-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;

    @media print {
        padding: 0;
        gap: 4px;
    }
}

.group-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-header {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    @media print {
        display: none;
    }
}

.group-separator {
    height: 2px;
    margin: 0;
    border: none;
    background: var(--text-color);
    opacity: 0.3;

    @media print {
        display: none;
    }
}

.units-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-width));
    justify-content: center;
    gap: 4px;
}

.no-units-message {
    color: var(--text-color);
    text-align: center;
    padding: 32px;
    font-size: 1.2rem;
    opacity: 0.7;
}

.card-cell {
    position: relative;

    alpha-strike-card {
        display: block;
        width: 100%;
        height: auto;
    }
}

// Toggle buttons
.toggle-buttons {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 1;

    @media print {
        display: none;
    }

    :host-context(.layout-phone) & {
        left: unset;
        width: 100%;
        justify-content: center;
    }
}

@media print {
    .alpha-strike-viewer {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background: white;
        overflow: visible;
    }

    .units-grid {
        width: 100%;        
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 0.01in;
        flex-direction: row;
        overflow: visible;
        padding: 0;
    }
    
    .card-cell {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-flex: 0 0 88mm;
        flex: 0 0 88mm;
        width: 88mm;
        height: 63mm;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;

        alpha-strike-card {
            display: block;
            width: 88mm;
            height: 63mm;
        }

    }


    @page {
        margin: 0.25in;
    }
}
