:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.force-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;

    .scrollable-content {
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0;
        overscroll-behavior: none;
        scrollbar-width: none;
        touch-action: pan-y;
    }
}

.force-name {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--background-highlight);
    padding: 4px 2px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.group-name {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-name:hover,
.force-name:hover {
    color: var(--bt-yellow);
}

.group-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.force-units-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.group-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    hr {
        border: none;
        height: 1px;
        background-color: var(--text-color-tertiary);
        margin: 6px 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.group-units {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.compact-mode {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2px;
    }
}

.force-units-list.single-group .group-container:first-child {
    border: none;
    padding: 0;
}

.new-group-dropzone:not(:has(unit-block)) {
    border: 2px dashed var(--text-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    font-size: 0.8em;
}

.group-container:not(:has(unit-block)) .group-units {
    min-height: 75px;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--text-color-tertiary);
}

.empty-group-placeholder {
    text-align: center;
    color: var(--text-color-tertiary);
    font-size: 0.8em;
    transition: color 0.2s;
    cursor: pointer;
}

.empty-group-placeholder:hover,
.cdk-drop-list-receiving .empty-group-placeholder {
    color: var(--text-color-secondary);
}

.new-group-dropzone.visible:not(:has(unit-block)) {
    min-height: 75px;
}

.new-group-dropzone {
    min-width: 0;
    max-height: 0;
    opacity: 0;
}

.new-group-dropzone.visible {
    min-width: none;
    max-height: none;
    opacity: 1;
}


.new-group-dropzone:not(:has(unit-block)) .group-name,
.group-units:has(unit-block) .empty-group-placeholder,
.new-group-dropzone:has(unit-block) .new-group-placeholder {
    display: none;
}

.group-units.compact-mode .force-unit-item {
    box-sizing: border-box;
    border: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.force-unit-item {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        box-sizing: border-box;
        width: 100%;

        &.total-bv {
            background-color: var(--background-highlight);
            justify-content: center;
            padding: 4px 2px;
            font-weight: bold;
            font-size: 0.8em;
        }
    }
}

.force-view {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    min-height: 0;
}

.cdk-drag-preview {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-menu);
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder ::ng-deep .unit-card {
    opacity: 0.3;
    border: 1px dashed #aaa;
    border-left-width: 5px;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.force-units-list.cdk-drop-list-dragging .force-unit-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}