@use '../common.scss';

.vessel-card-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.4em;
    padding-bottom: 10em;
    box-sizing: border-box;
    gap: 1em;

    :host(.monochrome) & {
    padding-bottom: 9em;
    }
}

.vessel-header {
    display: flex;
    flex-direction: row;
    padding: 0.2em;
    gap: 1.5em;
    align-items: baseline;
    height: 4em;
}

.vessel-name {
    font-size: 4em;
    :host(.monochrome) & {
        color: #000;
        font-weight: 700;
    }
}

.vessel-model {
    font-size: 3em;
    color: #000;

    :host:not(.monochrome) & {
        color: #ECD24B;
    }
}

.arc-damage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    flex: 1;
}

.arc-damage-table {
    display: flex;

    .frame-content {
        display: flex;
    }
}

.arc-label-container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8em;
    padding-left: 0.4em;
    margin-left: -0.4em;
}

.arc-label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.3em;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;

    :host:not(.monochrome) & {
        color: var(--as-red);
    }
}

.damage-table {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2em;
    line-height: 1em;

    &.has-cap {
        grid-template-columns: repeat(5, 1fr);
    }
}

.table-header {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    font-weight: 900;
    border-bottom: 0.1em solid #000;
    padding: 0.1em 0;
}

.table-row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: 0.2em 0em;
    border-bottom: 0.1em solid #ccc;

    &:nth-last-child(-n + 2) {
        border-bottom: none;
    }
}

.range-col {
    font-weight: 700;
    padding-left: 0.5em;
}

.dmg-col {
    text-align: center;
    font-weight: 600;

    .table-header & {
        font-weight: 900;
    }
}

.spe-row .spe-value {
    grid-column: 2 / -1;
    text-align: left;
}

.crit-row {
    border-top: 0.1em solid #000;
    padding-bottom: 0.1em;
    overflow: visible;
}

.crit-pips-container {
    grid-column: 2 / -1;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.crit-pip-group {
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;

    &:not(:last-child) {
        border-right: 0.1em solid #000;
    }
}


// Override pip size for vessel card
.vessel-card-2 .pip {
    width: 0.9em;
    height: 0.9em;
    position: relative;

    circle {
        stroke-width: 2pt;
    }
}

.weapon-criticals-note {
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: baseline;
    
    :host(:not(.monochrome)) & {
        color: #fff;
    }
}

.note-title {
    font-weight: 900;
    font-size: 1.8em;
    white-space: nowrap;
}

.note-text {
    font-size: 1.6em;
}