@use '../common.scss';

:host {
    display: block;
    position: absolute;
    inset: 0;
}

// Fluff Image
.fluff-image-container {
    position: absolute;
    top: 14%;
    left: 57.14%;
    width: 36.5%;
    height: 58.75%;
    overflow: hidden;

    &.center-vertical {
        top: 18%;
    }
}

.fluff-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;

    .center-vertical & {
        object-position: center center;
    }

    :host:not(.monochrome) & {
        filter: saturate(0) invert(1) brightness(1.25);
        mix-blend-mode: lighten;
    }
}

// Era Icons
.era-icons {
    position: absolute;
    top: 13em;
    right: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.era-icon {
    width: 3em;
    height: 3em;
    object-fit: contain;
    transition: opacity 0.2s ease;
    mix-blend-mode: lighten;

    :host:has(.monochrome) & {
        filter: saturate(0) invert(1) brightness(1.25);
    }

    &.unavailable {
        opacity: 0.3;
    }
}

// Header Section
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16.25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.unit-name {
    position: absolute;
    top: 2.8em;
    left: 2.8em;
    width: 75%;
    color: #000;

    &.vessel {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1em;
    }
}

.model-text {
    font-size: 4em;

    :host:not(.monochrome) & {
        color: #ECD24B;
    }

    &.small {
        font-size: 3.3em;
    }
}

.chassis-text {
    font-weight: bold;
    font-size: 7em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;

    &.long-chassis {
        font-size: 6em;
    }

    &.small {
        font-size: 5em;
    }
}

// PV Box
.pv-box {
    position: absolute;
    top: 16%;
    right: 1.8em;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pv-box-background {
    position: absolute;
    inset: 0;
    background: #000;
    clip-path: polygon(74% 0, 100% 0, 100% 9em, 82% 9em);

    :host(:not(.monochrome)) & {
        display: none;
    }
}

.pv-text {
    font-size: 5.4em;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.1em;
    z-index: 1;
}

.base-pv-text {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.6em;
    z-index: 1;
    -webkit-text-stroke: 0.15em #fff;
    color: #000;
    paint-order: stroke fill;
}

// Stats Container
.stats-container {
    position: absolute;
    bottom: 12%;
    left: 2.5%;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
}

.stats-container-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.stats-container-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;

    &.stats-left {
        flex: 0 0 57.5%;
    }

    &.stats-right {
        flex: 0 0 42%;
    }

    &.stats-left:only-child {
        flex: 1 1 100%;
    }

    &.stats-right:empty {
        display: none;
    }
}

// Stats Box
.stats-box {
    display: flex;

    .frame-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.5em;
}

.stat-item {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
}

.right-column {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sprint-text {
    font-size: 2em;
    line-height: 1em;
    font-weight: 700;
}

// Damage Box
.damage-box {
    display: flex;

    .frame-content {
        display: flex;
        align-items: center;
        position: relative;
    }
}

.damage-label {
    font-family: "Roboto Condensed", sans-serif;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.2em;
    
    font-weight: 900;
    text-align: center;
    margin-right: 1.5em;
}

.damage-ranges {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.damage-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.range-header {
    font-size: 2em;
    font-weight: 700;
    flex: 1;
    width: 100%;
    align-self: stretch;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0.3em;
}

:host:not(.monochrome) {
    .range-header-background {
        background: #5B504E;
        color: #fff;
        margin-bottom: 0.2em;

        &.left {        
            background: linear-gradient(to right, transparent 0%, #5B504E 1.5em, #5B504E 100%);
        }
        &.right {
            background: linear-gradient(to right, #5B504E 0%, #5B504E calc(100% - 1.5em), transparent 100%);
        }
    }
}

.range-value {
    font-size: 4em;
    font-weight: 700;
    line-height: 0.9em;
}

.range-distance {
    font-size: 2em;
}

// Heat Box
.heat-box {
    display: flex;

    .frame-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.ov-value {
    display: flex;
    flex-direction: row;
}

.heat-label {
    font-size: 2.86em;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}


.heat-track {
    display: flex;
    border-radius: 1.2em;
    border: 0.25em solid #000;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
}

.heat-level {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 100%;
    color: #fff;
    font-size: 3.5em;
    cursor: pointer;
    transition: background-color 0.2s;
    border-right: .06em solid #000;

    &:last-child {
        border-right: none;
    }

    @media screen {
        &.heat-0.active {
            background: rgb(0, 200, 0);
        }

        &.heat-1.active {
            background: rgb(255, 200, 0);
        }

        &.heat-2.active {
            background: rgb(255, 150, 0);
        }

        &.heat-3.active {
            background: rgb(255, 100, 0);
        }

        &.heat-s.active {
            background: rgb(255, 0, 0);
        }
    }
}

// Armor/Structure Box
.armor-box {
    display: flex;

    .frame-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
        gap: 1em;

        .pips-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
        }
    }

}

.armor-caption {
    display: block;
    min-width: 1em;
}

.thrust-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .as-caption {
        line-height: 2.5em;
    }

    .as-value {
        font-size: 3.5em;
        line-height: 3.5em;
    }
}

// Specials Box
.specials-box {
    display: flex;

    .frame-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
}

.special-ability {
    cursor: pointer;
    transition: text-decoration 0.15s ease;

    &:hover {
        text-decoration: underline;
    }
    
    .special-separator {
        &:hover {
            text-decoration: none;
        }
    }
}

.pilot-abilities {
    margin-left: 0.5em;
}