@use '../common.scss';

.vessel-card-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.4cqw;
    padding-bottom: 10cqw;
    box-sizing: border-box;
    gap: 1cqw;

    :host(.monochrome) & {
    padding-bottom: 9cqw;
    }
}

.vessel-header {
    display: flex;
    flex-direction: row;
    padding: 0.5cqw;
    gap: 1.5cqw;
    align-items: baseline;
    height: 4cqw;
}

.vessel-name {
    font-size: 4cqw;
    :host(.monochrome) & {
        color: #000;
        font-weight: 700;
    }
    @media print {
        color: #000;
        font-weight: 700;
    }
}

.vessel-model {
    font-size: 3cqw;
    line-height: 3cqw;
    color: #000;

    @media screen {
        :host:not(.monochrome) & {
            color: #ECD24B;
        }
    }
}

.arc-damage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1cqw;
    flex: 1;
}

.arc-damage-table {
    display: flex;

    .frame-content {
        display: flex;
        width: 100%;
    }
}

.arc-label-container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8cqw;
    padding-left: 0.5cqw;
    margin-left: -0.5cqw;
}

.arc-label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.3cqw;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--as-red);
}

.damage-table {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2cqw;

    &.has-cap {
        grid-template-columns: repeat(5, 1fr);
    }
}

.table-header {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    font-weight: 900;
    border-bottom: 0.2cqw solid #000;
    padding: 0.3cqw 0;
}

.table-row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: 0.2cqw 0;
    border-bottom: 0.1cqw solid #ccc;

    &:last-child {
        border-bottom: none;
    }
}

.range-col {
    font-weight: 700;
    padding-left: 0.5cqw;
}

.dmg-col {
    text-align: center;
    font-weight: 600;

    .table-header & {
        font-weight: 900;
    }
}

.spe-row .spe-value {
    grid-column: 2 / -1;
    text-align: left;
    font-size: 1.6cqw;
}

.crit-row {
    border-top: 0.2cqw solid #000;
    padding-top: 0.5cqw;
}

.crit-pips-container {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-around;
}

.crit-pip-group {
    display: flex;
    gap: 0.2cqw;
    flex: 1;
    justify-content: center;
    min-height: 2.2cqw;

    &:not(:last-child) {
        border-right: 0.2cqw solid #000;
    }
}


// Override pip size for vessel card
.vessel-card-2 .pip {
    width: 1.8cqw;
    height: 1.8cqw;
    border: 0.2cqw solid #000;
}

.weapon-criticals-note {
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 0.5cqw;
    align-items: baseline;
    @media screen {
        :host(:not(.monochrome)) & {
            color: #fff;
        }
    }
}

.note-title {
    font-weight: 900;
    font-size: 1.8cqw;
    white-space: nowrap;
}

.note-text {
    font-size: 1.6cqw;
}