@use '../common.scss';

// Fluff Image
.fluff-image-container {
    position: absolute;
    top: 14%;
    left: 57.14%;
    width: 40.36%;
    height: 58.75%;
    overflow: hidden;

    &.center-vertical {
        top: 18%;
    }
}

.fluff-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;

    .center-vertical & {
        object-position: center center;
    }

    @media screen {
        :host:not(.monochrome) & {
            filter: saturate(0) invert(1) brightness(1.25);
            mix-blend-mode: lighten;
        }
    }
}

// Header Section
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16.25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.unit-name {
    position: absolute;
    top: 2.8cqw;
    left: 2.8cqw;
    width: 75%;
    color: #000;

    &.vessel {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1cqw;
    }
}

.model-text {
    font-size: 4cqw;
    line-height: 4cqw;

    @media screen {
        :host:not(.monochrome) & {
            color: #ECD24B;
        }
    }
}

.chassis-text {
    font-weight: bold;
    font-size: 7.2cqw;
    line-height: 7.2cqw;
    letter-spacing: 0.2cqw;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;

    &.long-chassis {
        font-size: 6cqw;
        line-height: 6cqw;
    }
}

// PV Box
.pv-box {
    position: absolute;
    top: 16%;
    right: 1.8cqw;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pv-box-background {
    position: absolute;
    inset: 0;
    background: #000;
    clip-path: polygon(74% 0, 100% 0, 100% 9cqw, 82% 9cqw);

    @media screen {
        :host(:not(.monochrome)) & {
            display: none;
        }
    }
}

.pv-text {
    font-size: 5.36cqw;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.36cqw;
    z-index: 1;
}

.base-pv-text {
    font-size: 2.5cqw;
    font-weight: bold;
    text-align: center;
    margin-top: 1.2cqw;
    z-index: 1;
}
