@use '../common.scss';

:host {
    display: contents;
}

.armor-row-hit-area-svg {
    cursor: pointer;
}

.fluff-image-container,
.era-icons,
.destroyed-overlay {
    pointer-events: none;
}

.era-icon {
    transition: opacity 0.2s ease;
}

.fluff-image-container {
    overflow: hidden;
}

.fluff-image-foreign {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.fluff-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center top;
}



.clickable,
.heat-track,
.pips-wrapper,
.critical-row-svg,
.special-ability,
.pilot-ability,
.interactive,
.heat-level {
    pointer-events: auto;
}

:host(.interactive) {
    .clickable,
    .heat-level,
    .critical-row-svg,
    .special-ability,
    .pilot-ability {
        cursor: pointer;
    }

    .clickable:hover,
    .special-ability:hover {
        text-decoration: underline;
    }

    .special-ability.exhausted:hover {
        text-decoration: line-through underline;
    }
}

@media screen {
    :host(.interactive) .heat-level {
        &.heat-0.active .heat-level-cell-svg {
            fill: rgb(0, 200, 0);
        }

        &.pending .heat-level-cell-svg {
            animation: pending-heat-pulse 0.6s cubic-bezier(0.8, 0, 1, 1) infinite alternate;
            fill: rgb(187, 0, 255);
        }
    }

    .heat-level-cell-svg {
        transition: fill 0.2s;
    }
}

@keyframes pending-heat-pulse {
    from {
        fill: rgba(187, 0, 255, 0.3);
    }
}

.armor-box-caption-svg,
.armor-pip-circle {
    pointer-events: none;
}

.armor-pip-circle.damaged {
    fill: var(--damage-color);
}

.armor-pip-circle.pending-damage {
    fill: orange;
}

.armor-pip-circle.pending-heal {
    fill: #03a9f4;
}

.critical-pip-circle.damaged {
    fill: var(--damage-color);
}

.critical-pip-circle.pending-damage {
    fill: orange;
}

.critical-pip-circle.pending-heal {
    fill: #03a9f4;
}

:host(.night-mode) {
    .fluff-image-container {
        mix-blend-mode: lighten;
    }

    .fluff-image {
        filter: saturate(0) invert(1) brightness(1.25);
    }

    .era-icon {
        mix-blend-mode: lighten;
    }

    .model-text,
    .chassis-text {
        fill: #fff;
    }

    .group-commander-indicator {
        fill: var(--bt-yellow);
        opacity: 0.6;
    }
}

:host-context(.export-mode) {
    .fluff-image-container {
        mix-blend-mode: normal !important;
    }

    .fluff-image {
        width: auto !important;
        max-width: 100%;
        height: 100% !important;
        filter: none !important;
        opacity: 1 !important;
    }

    .era-icon {
        mix-blend-mode: normal !important;
        filter: none !important;
    }
}

