.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 8px;
}

:host ::ng-deep .modal-body {
    padding: 0px !important;
}

.force-list {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
    overflow-y: auto;
}

.force-entry {
    border: 1px solid transparent;
    padding: 8px;
    background: #0003;
    cursor: pointer;
    transition: border-color 0.2s, background 0.2s;
}

.force-entry:hover {
    border-color: var(--border-color);
    background: var(--background-highlight);
}

.force-entry.selected {
    border-color: var(--bt-yellow);
    background: var(--bt-yellow-background);
}

.force-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.7em;
}

.force-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.force-name {
    font-weight: bold;
    font-size: 1.1em;
}

.force-bv {
    color: var(--text-color-secondary);
    font-size: 0.8em;
}

.force-timestamp {
    color: var(--text-color-secondary);
    font-size: 0.8em;
    margin-left: 1em;
    text-align: right;
}
.cloud-icon {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    opacity: 0.8;
}

.unit-scroll {
    display: flex;
    flex-direction: row;
    gap: 4px;
    overflow-x: auto;
}

.unit-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-right: 2px solid var(--border-color);
    padding-right: 4px;
    justify-content: flex-end;
}

.unit-group:last-child {
    border-right: none;
    padding-right: 0px;
}

.unit-group .group-name {
    font-size: 0.8em;
    color: var(--text-color-secondary);
}

.unit-group .units {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.loading-spinner {
    text-align: center;
    padding: 2em;
    color: #aaa;
}
.empty-state {
    text-align: center;
    color: #aaa;
    padding: 2em;
}
.modal-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}