:host {
    display: inline-block;
}

.component {
    position: relative;
    cursor: pointer;
    transition: filter 0.15s;
}

.normal-data,
.small-data,
.tiny-data {
    display: flex;
    box-sizing: border-box;
    gap: 2px 4px;
    width: 100%;
    padding: 8px;
    font-size: 1em;
    flex-grow: 1;
}

.text-data {
    cursor: pointer;
}

.text-data:hover {
    text-decoration: dotted underline;
}


.small-data,
.tiny-data {
    padding: 4px;
    font-size: .85em;
}

.component:hover {
    filter: brightness(1.3);
}

floating-comp-info {
    position: fixed;
    z-index: 9999;
}

.small-data .comp-title,
.normal-data .comp-title {
    display: contents;
    font-weight: bold;
    width: 100%;
}

.tiny-data .comp-title {
    display: contents;
    width: 100%;
}

.comp-qty {
    color: #aaa;
    text-align: right;
}

.comp-name {
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.tech-base {
    width: 20px;
    height: 20px;
    margin: -2px -2px -4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 2px;
}

.tech-base.tech-is {
    background-color: rgb(0, 63, 208);
}

.tech-base.tech-clan {
    background-color: rgb(155, 0, 0);
}

.damage-stripe {
    background-image: repeating-linear-gradient(
        140deg,
        #F00 0px,
        #F00 4px,
        transparent 5px,
        transparent 10px
    );
}

.damage-stripe.upper {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 4px;
}

.damage-stripe.lower {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 4px;
}