.svgl-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: auto;
    touch-action: pan-x pan-y;
    -webkit-overflow-scrolling: touch;
}