.app-container {
    position: relative;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background-color-menu);
    position: relative;
}

.content-area {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
}

.main-search {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;

    @media (max-height: 400px) {
        margin-top: 8px;
    }
}

.empty-state-container .header {
    padding-top: calc(8px + var(--safe-area-inset-top));
    width: 100%;
    position: relative;
}

.empty-state-container .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    padding-bottom: calc(8px + var(--safe-area-inset-bottom));
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.build-info,
.footer-text {
    color: #444;
    font-size: 0.8em;
    text-align: center;
    transition: color 0.3s ease;
}

.build-info:hover,
.footer-text:hover {
    color: #777;
}

.build-info {
    cursor: pointer;
}

.empty-state-logo {
    max-width: 250px;
    width: 50%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}

.empty-state-container .search-container {
    width: 90%;
    max-width: 500px;
}

.extended-search-container {
    z-index: 200;
}

svg-viewer {
    width: 100%;
    height: 100%;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; /* Below the sidebar */
    opacity: 1;
}

.app-container.is-dragging .menu-overlay {
    transition: none;
}

.app-container:not(.menu-open) .menu-overlay {
    pointer-events: none;
}

.spinner {
    width: 44px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.spinner .ring {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 5px solid #BFC1C2;
    border-right: 5px solid #A00000;
    border-bottom: 5px solid #2357c6;
    border-left: 5px solid #2357c6;
    border-radius: 50%;
    animation: spin 1.1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    pointer-events: none;
    transition: opacity 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color-secondary);
}

.home-buttons {
    width: 100vw;
    padding-top: max(16px, var(--safe-area-inset-top));
    padding-left: max(16px, var(--safe-area-inset-left));
    padding-right: max(16px, var(--safe-area-inset-right));
    box-sizing: border-box;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
 
    button {
        background: none;
        border: none;
        padding: 0px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: var(--text-color-secondary);
        transition: color 0.3s ease;
    }

    button:hover {
        color: var(--text-color);
    }

    button.disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.beta-notice {
    font-size: 0.8em;
    color: var(--bt-yellow);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: -12px 12px;
}