:host {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    min-width: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    width: 100%;
}

.opfor-btn {
    color: #900;

    &.modified {
        color: #F00;
        background-color: #3006;
    }
}

.alignment-filter-btn {
    transition: color 0.2s, background-color 0.2s;

    &.friendly {
        color: rgb(var(--friendly-color));
    }

    &.enemy {
        color: rgb(var(--enemy-color));
    }
}
