:host {
    display: contents;
}

.card-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1120 / 800;
    font-family: 'Roboto', sans-serif;
    // Base font-size: 1em = 1% of card width (set by --card-font-size from parent)
    // Fallback for standalone usage: 88mm / 100 = 0.88mm
    font-size: var(--card-font-size, 0.88mm);
    page-break-inside: avoid;
    break-inside: avoid;

    @media print {
        width: 88mm;
        font-size: 0.88mm; // 88mm / 100 = 0.88mm per unit
    }
}

// Background styles
.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border: 1.43em solid #000;
    box-sizing: border-box;

    :host(.monochrome) & {
        background: #fff;
    }
}

@media screen {
    :host(.selected) .card-background-image,
    :host(.selected) .card-background {
        border-color: var(--bt-yellow);
    }
}

:host:has(.monochrome) {
    .alphastrike-footer-background {
        position: absolute;
        inset: 0;
        background: #000;
        clip-path: polygon(0 89%, 50% 89%, 58% 100%, 0 100%);
    }
}

:host:not(.monochrome) .card-background-image {
    position: absolute;
    inset: 1.8em;
    background-image: url('/images/ascard_background1.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8em 100%, 0 calc(100% - 8em));

    &.secondary-card {
        background-image: url('/images/ascard_background2.jpg');
    }
}


// Footer Section
.footer-section {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    right: 2.5%;
    height: 9%;
    display: flex;
    align-items: center;
    font-size: 1em;
}


.alphastrike-logo {
    position: absolute;
    left: 8.1%;
    bottom: 0%;
    width: 36em;

    svg {
        width: 100%;
        height: 100%;
    }

    :host(.monochrome) & {
        bottom: -15%;

        svg g {
            filter: none !important;
        }

        svg path {
            fill: #fff !important;
            stroke-width: 0 !important;
        }
    }
}

.battletech-logo {
    position: absolute;
    right: 2.68%;
    bottom: 20%;
    width: 30em;
    .logo-text {
            fill: #fff;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    :host(.monochrome) & {
        bottom: 15%;

        svg path {
            fill: #000 !important;
            stroke-width: 0 !important;
        }
        
        .logo-text {
                fill: #000;
        }
    }
}
