:host {
    display: block;
    container-type: inline-size;

    @media print {
        container-type: normal; // Disable container queries for print
    }
}

.card-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1120 / 800;
    font-family: 'Roboto', sans-serif;
    font-size: 1cqw;
    page-break-inside: avoid;
    break-inside: avoid;

    @media print {
        width: 88mm;
        font-size: 0.88mm; // 88mm / 100 = 0.88mm per unit
    }
}

// Background styles
.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border: 1.43em solid #000;
    box-sizing: border-box;
}

@media screen {
    :host(.selected) .card-background-image,
    :host(.selected) .card-background {
        border-color: var(--bt-yellow);
    }
}

.alphastrike-footer-background {
    position: absolute;
    inset: 0;
    background: #000;
    clip-path: polygon(0 3%, 48% 3%, 53% 100%, 0 100%);
}

.card-background-image {
    position: absolute;
    inset: 1.8em;
    background-color: #242424;
    // background-image: url('/images/as/ascard_background1.jpg');
    // background-size: cover;
    // background-position: center;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 7.5em 100%, 0 calc(100% - 7.5em));

    &.secondary-card {
        // background-image: url('/images/ascard_background2.jpg');
        
    }

    :host:has(.monochrome) & {
        background-color: #fff;
    }
}


// Footer Section
.footer-section {
    position: absolute;
    bottom: 2.5%;
    left: 1.43em;
    right: 1.43em;
    height: 9%;
    display: flex;
    align-items: center;
    font-size: 1em;
    overflow: hidden;
}


.alphastrike-logo {
    position: absolute;
    left: 8.1%;
    bottom: 0%;
    width: 36em;

    svg {
        width: 100%;
        height: 100%;

        g {
            filter: none !important;
        }
        
        path {
            fill: #fff !important;
            stroke-width: 0 !important;
        }
    }

    :host(.monochrome) & {
        // bottom: -15%;

        svg g {
            filter: none !important;
        }

        svg path {
            fill: #fff !important;
            stroke-width: 0 !important;
        }
    }
}

.battletech-logo {
    position: absolute;
    right: 2.68%;
    bottom: 20%;
    width: 30em;
    .logo-text {
            fill: #fff;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    :host(.monochrome) & {
        // bottom: 15%;

        svg path {
            fill: #000 !important;
            stroke-width: 0 !important;
        }
        
        .logo-text {
                fill: #000;
        }
    }
}

// Commit button overlay
.commit-overlay {
    position: absolute;
    bottom: 3%;
    left: 53%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: auto;

    @media print {
        display: none;
    }
}

.commit-button {
    min-height: auto;
    padding: 0.45em 1.2em;
    font-size: 2.4em;
    font-weight: bold;
    cursor: pointer;
}
