:host {
    display: contents;
}

.card-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1120 / 800;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5cqw;
    container-type: inline-size;
    page-break-inside: avoid;
    break-inside: avoid;

    @media print {
        width: 88mm;
        // height: 63mm;
    }
}

// Background styles
.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border: 1.43cqw solid #000;
    box-sizing: border-box;

    :host(.monochrome) & {
        background: #fff;
    }

    @media print {
        background: #fff;
    }
}

@media screen {
    :host(.selected) .card-background-image,
    :host(.selected) .card-background {
        border-color: var(--bt-yellow);
    }
}

.alphastrike-footer-background {
    position: absolute;
    inset: 0;
    background: #000;
    clip-path: polygon(0 89%, 50% 89%, 58% 100%, 0 100%);

    @media screen {
        :host:not(.monochrome) & {
            display: none;
        }
    }
}


:host:not(.monochrome) .card-background-image {
    position: absolute;
    inset: 1.8cqw;
    background-image: url('/images/ascard_background1.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8cqw 100%, 0 calc(100% - 8cqw));

    &.secondary-card {
        background-image: url('/images/ascard_background2.jpg');
    }

    @media print {
        display: none;
    }
}


// Footer Section
.footer-section {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    right: 2.5%;
    height: 9%;
    display: flex;
    align-items: center;
    font-size: 1cqw;
}


.alphastrike-logo {
    position: absolute;
    left: 8.1%;
    bottom: 0%;
    width: 36cqw;

    svg {
        width: 100%;
        height: 100%;
    }

    :host(.monochrome) & {
        bottom: -15%;

        svg path {
            fill: #fff !important;
            stroke-width: 0 !important;
        }
    }

    @media print {
        bottom: -15%;

        svg path {
            fill: #fff !important;
            stroke-width: 0 !important;
        }
    }
}

.battletech-logo {
    position: absolute;
    right: 2.68%;
    bottom: 20%;
    width: 30cqw;
    .logo-text {
            fill: #fff;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    :host(.monochrome) & {
        bottom: 15%;

        svg path {
            fill: #000 !important;
            stroke-width: 0 !important;
        }
        
        .logo-text {
                fill: #000;
        }
    }

    @media print {
        bottom: 15%;

        svg path {
            fill: #000 !important;
            stroke-width: 0 !important;
        }
        .logo-text {
                fill: #000;
        }
    }
}
