:host {
    --as-red: #7c2422;
}

// Frame/Box styling
.frame {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;

    .frame-content {
        z-index: 1;
        padding: 0.7em 1.2em;
        flex: 1 1 auto;
    }
}

.frame-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-image: none;
    background-color: #E3ECED;
    border-radius: 1.6em;
    border: 0.3em solid #221F20;
    box-sizing: border-box;

    :host(.monochrome) & {
        background-color: #fff;
    }
}

:host:not(.monochrome) {
    .frame-title-background {
        background: linear-gradient(to right, transparent 0%, #5B504E 0.5em, #5B504E calc(100% - 0.5em), transparent 100%);
        color: #fff;
        font-weight: bold;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
}

.alphastrike-text {
    paint-order: stroke fill;
    position: relative;

    :host:not(.monochrome) & {
        color: #d22027;
        -webkit-text-stroke: 0.08em #ECD24B;
    }

    &.bolder {
        font-weight: 900;

        :host:not(.monochrome) & {
            -webkit-text-stroke: 0.06em #ECD24B;
        }
    }
}

.as-caption {
    font-size: 3em;
    font-weight: 500;
}

.as-value {
    font-size: 3em;
    font-weight: 900;
    color: var(--as-red);

    :host:has(.monochrome) & {
        color: #000;
        // -webkit-text-stroke: 0.1em #fff;
        // paint-order: stroke fill;
    }
}

// Critical Hits Box
.critical-hits-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    position: relative;

    .frame-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8em;
        padding-bottom: 1em;
    }

    &.autoheight {
        height: 100%;

        .frame-content {
            gap: 0.1em;
            justify-content: space-between;
        }
    }

    .pip {
        width: 2.14em;
        height: 2.14em;
    }
}

.critical-title {
    font-size: 2.86em;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    align-self: center;
}

.critical-row {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

    &.centered-row {
        justify-content: center;
        align-self: center;
    }
}

.critical-name {
    font-size: 2em;
    font-weight: 900;
    text-align: right;
    width: 5.8em;
    padding-right: 0.2em;
    letter-spacing: -0.03em;
    color: #000;

    :host(:not(.monochrome)) & {
        color: var(--as-red);
    }

    .critical-row.centered-row & {
        width: auto;
    }
}

.critical-pips {
    display: flex;
    gap: 0.5em;
    position: relative;
    top: -0.2em;
}

.desc-group {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    position: relative;

    &::before {
        content: 'ï¹›';
        position: absolute;
        font-size: 4em;
        left: -2.2em;
        top: 50%;
        transform: translateY(-50%);
    }
}

.critical-desc {
    font-size: 2.1em;
    font-weight: 600;
    margin-left: 0.2em;
    white-space: nowrap;
    letter-spacing: -0.05em;

    &:not(:last-child) {
        margin-right: 0.4em;
    }
}

.pip-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.pip-value {
    font-size: 2.5em;
    font-weight: bold;

    :host:has(.monochrome) & {
        width: 100%;
        text-align: right;

        .current-value {
            display: none;
        }
    }
}

.pips {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.7em;
}

.pip {
    width: 2.8em;
    height: 2.8em;
    cursor: pointer;

    circle {
        fill: #fff;
        stroke: #000;
        stroke-width: 2pt;
    }

    &.structure circle {
        fill: #bbb;
    }
}


.pilot-abilities {

    .pilot-ability {
        color: black;
        -webkit-text-stroke: #fff 0.3em;
        paint-order: stroke fill;
        font-size: 2.5em;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            color: #6e00a5;
        }

        :host:not(.monochrome) & {
            color: white;
            -webkit-text-stroke: #000 0.3em;

            &:hover {
                color: #cdb0ff;
            }
        }
    }
}