:host {
    --as-red: #7c2422;
}

.stroke-text {
    -webkit-text-stroke: 0.3cqw #fff;
    color: #000;
    paint-order: stroke fill;
}

// Frame/Box styling
.frame {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5cqw 1.25cqw;
    color: #000;
    position: relative;

    .frame-content {
        z-index: 1;
        width: 100%;
        padding-top: 0.5cqw;
        padding-bottom: 0.5cqw;
    }

    :host(.monochrome) & {
        border-style: solid;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1.6cqw;
        border: 0.36cqw solid #221F20;
        padding-top: 0.2cqw;
        padding-bottom: 0.2cqw;
    }

    @media print {
        border-style: solid;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1.6cqw;
        border: 0.36cqw solid #221F20;
        padding-top: 0.2cqw;
        padding-bottom: 0.2cqw;
    }
}

@media screen {
    :host:not(.monochrome) {
        .frame-title-background {
            background: linear-gradient(to right, transparent 0%, #5B504E 1.5cqw, #5B504E calc(100% - 1.5cqw), transparent 100%);
            color: #fff;
            font-weight: bold;
            padding-left: 2.2cqw;
            padding-right: 2.2cqw;
        }

        .frame-background {
            z-index: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            position: absolute;
            margin: -0.5cqw -1.25cqw;
            border-image-slice: 100 100 100 100 fill;
            border-image-width: 2cqw;
            border-image-outset: 0cqw;
            border-image-source: url("/images/asframe.png");
        }
        .alphastrike-text {
            color: #d22027;
            -webkit-text-stroke: 0.45cqw #ECD24B;
            paint-order: stroke fill;
            position: relative;
            
            &.bolder {
                -webkit-text-stroke: 0.3cqw #ECD24B;
                font-weight: 900;
            }
        }
    }
}

.as-caption {
    font-size: 3cqw;
    font-weight: 500;
    min-width: 2.5cqw;
}

.as-value {
    font-size: 3cqw;
    font-weight: 900;

    @media screen {
        color: var(--as-red);
    }

    @media print {
        -webkit-text-stroke: 0.3cqw #fff;
        color: #000;
        paint-order: stroke fill;
    }
}

// Critical Hits Box
.critical-hits-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5cqw 1.25cqw;
    color: #000;
    position: relative;

    .frame-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8cqw;
    }

    &.autoheight {
        height: 100%;
        .frame-content {
            gap: 0.1cqw;
            justify-content: space-between;
        }
    }


    :host(.monochrome) & {
        border-style: solid;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1.6cqw;
        border: 0.36cqw solid #221F20;
        padding-top: 0.3cqw;
        padding-bottom: 0.3cqw;

        .frame-background {
            display: none;
        }
    }

    @media print {
        border-style: solid;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1.6cqw;
        border: 0.36cqw solid #221F20;
        padding-top: 0.3cqw;
        padding-bottom: 0.3cqw;

        .frame-background {
            display: none;
        }
    }
}

.critical-title {
    font-size: 2.86cqw;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}

.critical-row {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

    &.centered-row {
        justify-content: center;
    }
}

.critical-name {
    font-size: 2cqw;
    font-weight: 900;
    text-align: right;
    min-width: 32%;
    padding-right: 1cqw;
    letter-spacing: -0.05cqw;
    color: #000;

    @media screen {
        :host(:not(.monochrome)) & {
            color: var(--as-red);
        }
    }

    .critical-row.centered-row & {
        min-width: initial;
    }
}

.critical-pips {
    display: flex;
    gap: 0.5cqw;
    position: relative;
    top: -0.2cqw;
}

.desc-group {
    display: flex;
    flex-direction: column;
    margin-left: 1cqw;
    position: relative;

    &::before {
        content: 'ï¹›';
        position: absolute;
        font-size: 4cqw;
        left: -2.2cqw;
        top: 50%;
        transform: translateY(-50%);
    }
}

.critical-desc {
    font-size: 2.1cqw;
    font-weight: 600;
    margin-left: 0.5cqw;
    white-space: nowrap;
    letter-spacing: -0.05cqw;
    margin-right: 1cqw;
}

.pip-row {
    display: flex;
    align-items: baseline;
    gap: 0.5cqw;
}

.pip-value {
    font-size: 2.5cqw;
    font-weight: bold;

    @media print {
        width: 100%;
        text-align: right;

        .current-value {
            display: none;
        }
    }
}

.pips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.71cqw; // 8px / 1120
}

.pip {
    width: 2.14cqw; // 24px / 1120
    height: 2.14cqw;
    border-radius: 50%;
    border: 0.27cqw solid #000; // 3px / 1120
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    top: 0.2cqw;

    &.structure {
        background: #bbb;
    }
}