:host {
    --as-red: #7b0000;
    --as-red-bright: #cd0000;
}



.pilot-abilities {

    .pilot-ability {
        cursor: pointer;

        &:hover {
            fill: #6e00a5;
        }

        :host:not(.monochrome) & {
            fill: white;
            stroke-color: #000;

            &:hover {
                fill: #cdb0ff;
            }
        }
    }
}
