<base-dialog (closed)="onClose()">
  <div dialog-header>PRINT FORCE</div>
  <div dialog-body>
    <div *ngIf="loading()" class="message">Loading sheets...</div>
    <div *ngIf="!loading() && svgStrings().length == 0" class="message">Nothing to print!</div>
    <div class="svg-list" *ngIf="!loading()">
      <div class="svg-container" *ngFor="let svg of svgStrings()" [innerHTML]="svg"></div>
    </div>
  </div>
  <div class="footer" dialog-footer>
    <button class="modal-btn bt-button" [disabled]="loading()" (click)="onPrint()">PRINT</button>
    <button class="modal-btn bt-button" (click)="onClose()">CLOSE</button>
  </div>
</base-dialog>