.dialog-body {
    display: block;
    height: 100%;
    overflow-y: auto;
}

.option-row {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  gap: 0.5em;
  align-items: center;
}

.option-row select {
  width: 50%;
}

.option-col {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.option-col .option-row {
  padding-left: 0;
  padding-right: 0;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.description {
  font-size: 0.8em;
  color: var(--text-color-secondary);
  transition: color 0.2s;
}

.description p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.error-msg {
  color: #d32f2f;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.tab-content.debug {
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logs-list {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.debug-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Individual log rows */
.log-row {
  display: flex;
  align-items: flex-start;
  font-size: 0.85em;
  word-break: break-word;
  gap: 8px;
  align-items: baseline;
}

.log-timestamp {
  color: var(--text-color-secondary);
  text-wrap: nowrap;
  white-space: nowrap;
}

.log-info {
  color: var(--text-color-secondary);
}

.log-warn {
  color: #f5cc00;
}

.log-error {
  color: #d32f2f;
}
