<button class="popup-btn" (click)="toggleMenu()" title="Menu">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
    focusable="false">
    <rect x="4" y="6" width="16" height="2" rx="1" />
    <rect x="4" y="11" width="16" height="2" rx="1" />
    <rect x="4" y="16" width="10" height="2" rx="1" />
    <polyline points="18,17 21,20 18,23" />
  </svg>
</button>
@if (isOpen()) {
  <div #popupMenu class="popup-menu framed-borders" 
       [class.show-below]="showBelow()">
       @for (opt of options(); let i = $index; track i) {
        @if (opt.separator) {<hr/>}
        @else {
          <button (click)="opt.value !== undefined && select(opt.value)">{{ opt.label }}</button>
        }
       }
  </div>
}