<!-- Card Tab Content -->
<div class="tab-content">
    @for (cardIndex of cardIndices(); track cardIndex) {
        <alpha-strike-card
            [unit]="unit()"
            [useHex]="useHex()"
            [cardIndex]="cardIndex"
            [cardStyle]="cardStyle()"
            class="alpha-strike-card-panel">
        </alpha-strike-card>
    }

    <button
        type="button"
        class="bt-button primary export-button"
        [disabled]="exportInProgress()"
        (click)="onDownloadCards()">
        {{ exportInProgress() ? 'RENDERING...' : 'OPEN JPG' }}
    </button>
</div>
