<!-- Card Tab Content -->
<div class="tab-content">
    <svg-viewer-lite [zoomable]="true" [hasProjectedContent]="true" [exportSvgs]="cardSvgs()"
        [exportFileName]="exportFileName()" [contentBaseWidth]="600" [centerContent]="true"
        [minZoomPercent]="100" [maxZoomPercent]="200">
        @for (cardIndex of cardIndices(); track cardIndex) {
            <alpha-strike-card
                [unit]="unit()"
                [useHex]="useHex()"
                [cardIndex]="cardIndex"
                [cardStyle]="cardStyle()"
                class="alpha-strike-card-panel">
            </alpha-strike-card>
        }
    </svg-viewer-lite>
</div>
