:host {
    height: fit-content;
    min-height: 100%;
    width: 100%;
}

/* Factions Tab Styles */
.tab-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.faction-availability-list {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 16px;
    gap: 8px 16px;
    align-items: baseline;
}

.era-name {
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.era-icon {
    height: 1.2em;
    vertical-align: middle;
    position: relative;
    top: 4px;
    margin-bottom: -4px;
}

.faction-list {
    line-height: 1.6;
}

.faction-item {
    display: inline-flex;
    align-items: baseline;
}

.faction-icon {
    height: 1.2em;
    width: 1.2em;
    align-self: center;
    margin-right: 2px;
    object-fit: contain;
}

.no-factions {
    text-align: center;
    color: var(--text-color-secondary);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    grid-column: 1 / -1;
}

hr.divider {
    grid-column: 1 / -1;
}

/* Responsive */
@container (max-width: 768px) {
    .faction-availability-list {
        display: flex;
        flex-direction: column;
    }
    hr.divider {
        width: 100%;
    }
    .era-name {
        width: 100%;
        justify-content: center;
        font-size: 1.2em;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .faction-list {
        margin-bottom: 16px;
    }
}
