:host {
    height: fit-content;
    min-height: 100%;
    width: 100%;
}

/* Sheet Tab Styles */
.tab-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}