/* Sheet Tab Styles */
.tab-content {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
