:host {
    position: absolute;
    top: var(--safe-area-inset-top);
    left: 0;
    right: var(--safe-area-inset-right);
    bottom: var(--safe-area-inset-bottom);
    pointer-events: none;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    transform: translateZ(0);
    will-change: transform, left, top;
    pointer-events: none;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.overlay-button {
    position: absolute;
    opacity: 0.8;
    outline: none;
    transition: opacity 0.2s;
    color: #000;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
        opacity: 1.0;
    }

    :host-context(.night-mode) & {
        color: #fff;
    }

}

.end-turn-button {
    bottom: 8px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    background-color: white;
    padding: 8px;
    border: 1px solid #222;
    text-align: center;
    font-weight: bold;
}

.turn-tracker-button {
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;
        text {
            pointer-events: none;
            font-weight: bold;
            fill: #fff;
        }

        &.dirty {
            color: var(--bt-yellow);
            text {
                fill: #000;
            }
        }

        &.warning {
            color: var(--damage-color);
            text {
                fill: #000;
            }
        }
    }

    :host-context(.night-mode) & {
        color: #fff;
        svg text {
            fill: #000;
        }
    }

}

@media print {
    :host {
        display: none !important;
    }
}